* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Kalam', cursive;
  line-height: 1.5;
  font-weight: 400;
  color: #2c3e50;
  background-color: #f5f5dc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #f5f5dc;
}

#root {
  width: 100%;
  min-height: 100vh;
}
